/* 1. exercice-1 */
.exercice-1 .container {
  display: flex;
  flex-direction: row-reverse; 
  justify-content: space-around;
  align-items: center
}
/* 2. exercice-2 */
.exercice-2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
/* 3. exercice-3 */
.exercice-3 .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/* 4. exercice-4 */
.exercice-4 .container {
display: flex;
flex-wrap: wrap;
align-items: flex-end;
  flex-direction: row;
}
/* 5. exercice-5 */
.exercice-5 .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-content: center;
}
/* 6. exercice-6 */
.exercice-6 .container {
  display: flex;
  flex-direction: column-reverse;
}
/* 7. exercice-7 */
.exercice-7 .container {
  display: flex;
}
/* 8. exercice-8 */
.exercice-8 .container {
  display: flex;
}
/* 9. exercice-9 */
.exercice-9 .container {
  display: flex;
}
/* 10. exercice-10 */
.exercice-order-10 .container {
  display: flex;
  margin: auto;
  align-items: center;
}